@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  margin: auto;
}

body {
  margin: 0;
}

.header {
  margin-top: -20px;
  position: relative;
  border-bottom: 1px solid white;
  background-color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 60px;
  padding-right: 60px;
}

.nav-bar {
  display: block;
  text-align: center;
  background-color: #000000;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-bar li {
  display: inline-block;
  padding: 10px 30px;
  vertical-align: middle;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar i {
  font-size: 2rem
}

.pfp {
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 1rem 1rem;
  border-radius: 50%;
}

a:link {
  color: #7289da;
}

a:visited {
  color: #7289da;
}

a:link h3 {
  color: inherit;
}

a:visited h3 {
  color: inherit;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform : translateY(3em)
  }
  to {
    opacity: 1;
    transform : translateY(0em)
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
    transform : translateY(3em)
  }
  to {
    opacity: 1;
    transform : translateY(0em)
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    transform : translateY(3em)
  }
  to {
    opacity: 1;
    transform : translateY(0em)
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
    transform : translateY(3em)
  }
  to {
    opacity: 1;
    transform : translateY(0em)
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
    transform : translateY(3em)
  }
  to {
    opacity: 1;
    transform : translateY(0em)
  }
}

.section {
  padding: inherit;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
  width: calc(100% - 30px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 0 40px;
  text-align: center;
}

.section > .inner {
  font-size: 1.1rem;
}

.section h1 {
  padding-top: 75px;
  font-size: 3rem;
  text-align: center;
}

.project-grid {
  max-width: clamp(0, 977px, 977px);
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1,1fr);
  grid-gap: 3rem;
}

@media (min-width: 540px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 0;
  transition: all .1s ease;
}

.grid-content {
  height: 100%;
  min-height: 174px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  display: flex;
  flex-direction: column;
}

.grid-content > h2 {
  margin-bottom: 3px
}

.grid-text {
  text-align: left;
  flex: 1
}

.project {
  border-radius: var(--rounded-box, 1rem);
  padding: 10px;
  border: 2px solid blue;
}

.pycord {
  background-image: url('https://cdn.discordapp.com/splashes/881207955029110855/497cda195351cdf76d7fbc0a43ce4765.png?size=512');
  background-size: cover;
}

.qwire {
  background-image: url('https://cdn.discordapp.com/attachments/796012588302991411/945522215435243621/image_1.png');
  background-size: cover;
}

.links {
  text-align: left;
}

.grid-content > .links {
  margin: 0.9rem 0;
}

.dropdown-content > .links {
  margin-top: 0.9rem;
  margin-bottom: 10px
}

.btn {
  background-color: blue;
  font-size: 1.1em;
  border-radius: 3px;
  border-style: solid;
  border-color: blue;
  appearance: button;
  text-decoration: none;
  color: white!important;
}

.btn:hover {
  background-color: darkblue;
  border-color: darkblue;
}

.tech-grid {
  margin: 0 10px 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tech-container h1 {
  color: white;
  font-weight: 500;
  /* font-size: 25px; */
  text-align: center;
}

.stack-icons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}

.stack-item {
  position: relative;
  display: inline-block;
}

.stack-item i, img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 20px 20px;
  border-radius: 10px;
  font-size: 500%;
  transition: all .1s ease-in-out;
}

.stack-item i:hover, .stack-item img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* Cool info-dropdowns for the tech section */

.dropdown-info {
  display: none;
  position: absolute;
  background-color: #000;
  border: 2px solid;
  min-width: 200px;
  left: 135px;
  top: -20px;
  z-index: 1;
}

.dropdown-header {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.dropdown-header .dd-header-title {
  flex: 1;
  text-align: left;
}

.dropdown-header .dd-header-btns {
  flex: 1;
  text-align: right;
}

.dropdown-content {
  padding: 12px 16px;
  display: inline-block;
}

.dropdown-content img {
  display: inline-block;
  padding: 0;
  margin: 0;
  bottom: 0;
  margin-bottom: -3px;
}

.dropdown-content img:hover {
  transform: none;
  cursor: inherit;
}

.stack-item:hover .dropdown-info {
  display: block;
}

/* Particles */

#particles-js {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000;
}

#particles-js canvas {
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #000000;
}
